/*! FOOTBALL ========================================================================= */

/*? TABLE types of places  =====*/

/* 1st place */
.gold {
    background-color: gold;
}

/* 2nd place */
.silver {
    background-color: silver;
}

/* 3rd place */
.bronze {
    background-color: brown;
}

/* 4th place */
.eurocups {
    background-color: greenyellow;
}

/* 9th place */
.surv-play_off {
    background-color: orangered;
}

/* 10th place */
.departure {
    background-color: red;
}




/*? TABLE before logo */
.valmierafc_table:before {
    content: "1";
    margin-right: 10px;
}

.rigafc_table:before {
    content: "2";
    margin-right: 10px;
}

.rfsfc_table:before {
    content: "3";
    margin-right: 10px;
}

.liepajafc_table:before {
    content: "4";
    margin-right: 10px;
}

.audafc_table:before {
    content: "5";
    margin-right: 10px;
}
.tukumsfc_table:before {
    content: "6";
    margin-right: 10px;
}
.daugavpilsfc_table:before {
    content: "7";
    margin-right: 10px;
}
.mettafc_table:before {
    content: "8";
    margin-right: 10px;
}

.spartaksfc_table:before {
    content: "9";
    margin-right: 10px;
}

.supernovafc_table:before {
    content: "10";
    margin-right: 10px;
}

/*? IMAGE settings  */
table img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

/*? TABLE basic settings */
.football tr {
    border: 2px solid black;
    padding: 3px;   /** padding inside the cell */
    border: 1px solid maroon;   /** border settings */
    text-align: center;     /** center alignment */
}

.football th{
    margin-right: 10px;
    padding: 3px;   /** padding inside the cell */
    border: 1px solid maroon;   /** border settings */
    text-align: center;     /** center alignment */
}

.football td{
    padding: 3px;   /** padding inside the cell */
    border: 1px solid maroon;   /** border settings */
    text-align: center;     /** center alignment */
}






/*! SCHOOL ========================================================================= */

/*? TABLE settings */
.school th {
    margin-right: 10px;
    padding: 3px;   /** padding inside the cell */
    border: 1px solid rgb(101, 9, 9);   /** border settings */
    text-align: center;     /** center alignment */
}

.school td {
    padding: 3px;   /** padding inside the cell */
    border: 1px solid maroon;   /** border settings */
    text-align: center;     /** center alignment */
}
